#myHome{
	text-decoration: none;
	color: white;
}
#myHome:hover {color: #12e0eb;}
#myHome:link {color: #12e0eb;}
#myHome:active {color: #12e0eb;}
#myHome:visted {color: #12e0eb;}

body{
	background-color: #66CCFF;
	color: white;
}

hr{
	border: 2px dashed #12e0eb;
}

.midText{
	text-align: center;
	
}

